
      *{
        margin:0;
        padding:0;
      }
      h1{
          font-size: 60px;
      }
      
      body{
        margin:0;
        font-family: 'Times New Roman', Times, serif, "Helvetica Neue", Helvetica, sans-serif;
        font-size:25px;
        color:rgb(68, 41, 9);
        line-height:1.6;
      }
      
      #showcase{
        background-image:url('https://images.unsplash.com/photo-1602595688238-9fffe12d5af3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=751&q=80');
        background-size:cover;
        background-position:center;
        height:100vh;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        text-align:center;
        padding:0 20px;
      }
      select{
        align-content: center;
      }
      a{
          text-decoration: none;
          color: white;
          
      }
      .btn-info{
          margin: 6px;
          padding: 8px;

      }
      .card{
          padding: 30px;
      }