<html>

<head>
    <title>Room Details</title>
    <link rel="stylesheet" href="room-details.component.css">

</head>

<body>
    <div class="container">
        <div class="one">
            <div class="card" style="width: 18rem;" *ngFor="let room of rooms;let idx=index;">
                <div class="card body">
                    <div>
                        <ul class="list-group list-group-flush">

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" [(ngModel)]="room_num" name="room_num" value="{{room.room_number}}">
                                <label class="form-check-label" for="flexRadioDefault1">
                                        Select this room
                                    </label>
                                <img src={{room.url}} alt="">
                                <p>Room Number: {{room.room_number}}</p>
                                <p>Room Type: {{room.room_type}}</p>
                                <p> Price: {{room.price}}</p>



                            </div>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button (click)=" bookRoom() " class="btn btn-info ">Proceed</button>
</body>

</html>